# --- CLIENT Toggle ---
# Set to 'false' for the Home Server (updates GitHub)
# Set to 'true' for the Remote Client (updates local hosts file)
CLIENT=false

# --- Configuration ---
HOME_HOSTNAME=://mydomain.com
GITHUB_USERNAME=your_username
GITHUB_PASSWORD=your_token
GITHUB_REPO_URL=https://github.com
IP_LOG_FILE=external_ip.json
